.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  /* padding: 2rem; */
  margin-left: 250px; /* Match sidebar width */
  background-color: #f5f6fa;
  /* background: linear-gradient(135deg, #2e4fa9 0%, #3b82f6 40%, #93c5fd 70%, #8298b8 100%); */
  min-height: 100vh;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 1rem;
  }
  
  .sidebar,
  .admin-sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar.open,
  .admin-sidebar.open {
    transform: translateX(0);
  }
}
